mat-card::ng-deep.mat-card-header-text {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

div {
    flex: 50%;
    padding: 10px;
}
.temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 div {
    flex: 50%;
    border-radius: 10px;
    padding: 10px;
}

 .outlook {
    color: black;
    background: rgba(0,0,0,0.1);
  }

.temp {
    background: lightblue;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }