<mat-card class="mat-elevation-z5" style="height: 50px;">
    <mat-card-header>
        <mat-card-title>London's weather</mat-card-title>
        <mat-card-subtitle>Today: July 10, 2020</mat-card-subtitle>
        <div style="margin-top: 0;">
            <img width="65px" height="64px" style="background-color: black;"src="http://openweathermap.org/img/wn/02d@2x.png" />
        </div>
    </mat-card-header>
    <!-- <mat-card-content>
        <div>
            <img src="http://openweathermap.org/img/wn/02d@2x.png" />
        </div>
    </mat-card-content> -->
</mat-card>