/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body{
    background-color: #8ac9de;
    /* background-image: url("https://www.atvbl.rs/storage/2019-09/zmaj_od_sipova.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}